<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel Form Submission</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color:gray;">
    <div class="container mt-5">
        <h2 class="text-center" style="font-weight:bold;">UPLOAD YOUR BATCH EXCEL FILE</h2>
        <p>Select an excel file containing data with columns First name,Last name,Business email,Company name,Country,Message and Organization ID </p>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file" style="display: inline-flex; font-weight: bold;" >Select Excel File:</label>
                <input type="file" class="form-control" id="file" name="file" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning mt-3">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>
